.centrepage { 
  width:50%;
  height: auto;
  margin: auto;
  background-color: gray;
  padding: 0px;
  overflow: auto;
}

.mainbackground {
  background: url(./Pictures/Main_Pano.jpg);
  width: 100%;
  background-size: cover;
  height: 400px;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
  padding: 10px;
}

.imghome {
    width:150px;
    height:100px;
    border: 2px solid #ddd;
  }

  .menuul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .menuli {
    float: left;
  }
  
  .menuli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menuli a:hover {
    background-color: #111;
  }

  .tabletarifs {
    padding: 10px;
    color: white;
    width: 70%;
  }
  .tabletarifs tr{
    border: solid 2px white;    
    background-color: darkred;

  }