
div { 
  width:50%;
  margin: auto;
  background-color: gray;
  padding: 10px;
  overflow: auto;
}
.topbackground {
  background-image: url('./Pictures/Main_Pano.jpg');
  background-repeat: no-repeat;
  background-size:cover
  background-attachment: fixed;
  overflow: auto;
  width: 100%;
  margin: auto;
  }

header {
  background-color: darkorchid;
  text-align: center;
}

h1 {
  color: blue;
}



p {
text-align: justify;
}

.imghome {
  width:150px;
  height:100px;
  border: 2px solid #ddd;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }